<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <%= title %>
  <form action="/" method="post">
    <img src="/captcha.jpg">
    <input type="text" name="number" id="number" />
    <input type="password" name="password" id="password" />
    <input type="text" name="captcha" id="captcha" />
    <input type="hidden" name="sessionId" id="sessionId" value="<%= sessionId %>" />
    <button type="submit">提交</button>
  </form>
  <div id="information">
    <% if (info) { %>
      <% if(info.name) { %>
        <div id="name">姓名： <%= info.name %></div>
      <% } %>
      <% if(info.major) { %>
        <div id="name">专业： <%= info.major %></div>
      <% } %>
      <% if(info.grade) { %>
        <div id="name">年级： <%= info.grade %></div>
      <% } %>
    <% } %>
    <table><%- info %></table>
  </div>
</body>
</html>
